<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- UseSettingsFromRegistry: Setting to true will use the settings from the registry, overriding the settings in this config file. -->
		<add key="UseSettingsFromRegistry" value="False" />
		<!-- MaxUptimeInDays: The maximum uptime in days. Once the computer has reached this uptime, it will be restarted if there are no logged on users. -->
		<add key="MaxUptimeInDays" value="7" />
		<!-- RepeatTimerInMilliseonds: How often the service should run through its check in milliseconds once the uptime has been exceeded.
		The shortest time is 1000 milliseconds (1 second) to avoid unnecessary load on the CPU.
		This setting is ignored if RestartAfterLogoff is set to True.-->
		<add key="RepeatTimerInMilliseonds" value="10000" />
		<!-- DelayBeforeRestartingInSeconds: The number of seconds to delay the restart to ensure the logoff process is completed. -->
		<add key="DelayBeforeRestartingInSeconds" value="10" />
		<!-- ForceRestart: Setting to true will force the restart. -->
		<add key="ForceRestart" value="False" />
		<!-- RestartAfterLogoff: Setting to true will restart if the user logs off and no other sessions are running. -->
		<add key="RestartAfterLogoff" value="True" />
		<!-- CheckIfServiceIsRunning: Setting to true will check if the specified service is running before restarting. -->
		<add key="CheckIfServiceIsRunning" value="True" />
		<!-- ServiceNameToCheck: The service name or display name of the service that it should check is running before restarting. -->
		<add key="ServiceNameToCheck" value="BrokerAgent" />
		<!-- DebugToEventLog: Setting to true will output extra logging to the Application Event Log. -->
		<add key="DebugToEventLog" value="True" />
		<!-- DebugToFile: Setting to true will output extra logging to file. -->
		<add key="DebugToFile" value="True" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>